<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>眼鏡官網Vite</title>
</head>

<body>
    <%- include('./layout/header'); -%>

        <header>
            <section>
                <div class="banner">
                    <div class="banner-logo h-100 container d-flex flex-direction-column justify-content-center">
                        <h1>Promise-Desert 2020 早春系列<br><span class="h1-title">看得清，才能看得遠</span></h1>
                        <div>
                            <a href="#" class="btn btn-primary">立即購買</a>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <main>
            <section>
                <div class="pro">
                    <div class="container">
                        <h2 class="pro-title mb-3 mb-sm-4">用專業的心，做專業的事</h2>
                        <div class="pro-intro row d-flex">
                            <div class="pro-intro-item col-3 d-flex flex-direction-column align-items-center mb-md-3 mb-sm-3">
                                <img src="/assets/images/home-section2-1.png" alt="price" class="mb-2 mb-sm-3">
                                <h3 class="mb-1">單一價格</h3>
                                <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
                            </div>
                            <div class="pro-intro-item col-3 d-flex flex-direction-column align-items-center mb-md-3 mb-sm-3">
                                <img src="/assets/images/home-section2-2.png" alt="time" class="mb-2 mb-sm-3">
                                <h3 class="mb-1">20 分鐘即可取件</h3>
                                <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
                            </div>
                            <div class="pro-intro-item col-3 d-flex flex-direction-column align-items-center mb-sm-3">
                                <img src="/assets/images/home-section2-3.png" alt="sales" class="mb-2 mb-sm-3">
                                <h3 class="mb-1">安心售後服務</h3>
                                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
                            </div>
                            <div class="pro-intro-item col-3 d-flex flex-direction-column align-items-center">
                                <img src="/assets/images/home-sectioin2-4.png" alt="about" class="mb-2 mb-sm-3">
                                <h3 class="mb-1">關於鏡片</h3>
                                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="classic">
                    <div class="container">
                        <h2 class="classic-title mb-8 mb-md-6 mb-sm-3">經典系列鏡框</h2>
                        <div class="classic-list d-flex row">
                            <div class="col-4  mb-3">
                                <img src="/assets/images/home-section3-1.png" alt="people1" class="mb-1">
                                <h3>OPTICAL</h3>
                            </div>
                            <div class="col-4 mb-3">
                                <img src="/assets/images/home-section3-2.png" alt="people2" class="mb-1">
                                <h3>SUNGLASSES</h3>
                            </div>
                            <div class="col-4">
                                <img src="/assets/images/home-section3-3.png" alt="people3" class="mb-1">
                                <h3>FUNCTIONAL</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <div class="cobranding">
                    <div class="container container-sm-full">
                        <h2 class="cobranding-title mb-6 mb-sm-3">聯名設計鏡框</h2>
                        <ul class="cobranding-items d-flex">
                            <li class="cobranding-item mb-md-3 mb-sm-3">
                                <picture>
                                    <!-- 當螢幕寬度少於576px時，替換圖片 -->
                                    <source srcset="/assets/images/home-section4-1-sm.png" media="(max-width: 576px)">
                                    <!-- 預設圖片，通常是桌面版本 -->
                                    <img src="/assets/images/home-section4-1.png" alt="Logo">
                                </picture>
                                <h3>DOUBLE A+</h3>
                            </li>
                            <li class="cobranding-item">
                                <picture>
                                    <!-- 當螢幕寬度少於600px時，替換圖片 -->
                                    <source srcset="/assets/images/home-section4-2-sm.png" media="(max-width: 576px)">
                                    <!-- 預設圖片，通常是桌面版本 -->
                                    <img src="/assets/images/home-section4-2.png" alt="Logo">
                                </picture>
                                <h3>YOUTH</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="recommend">
                    <div class="container">
                        <h2 class="recommend-title mb-6 mb-sm-3">顧客推薦</h2>
                        <div class="recommend-list d-flex row h-100">
                            <div class="col-3 recommend-list-body d-flex flex-direction-column justify-content-between mb-md-3 mb-sm-2">
                                <img src="/assets/images/home-section5-1.png" alt="customer1">
                                <ul class="recommend-list-content h-100 d-flex flex-direction-column">
                                    <li class="mb-1">Jessy</li>
                                    <li class="">眼鏡品質優良，下次還會想來這邊購買！</li>
                                    <li class="recommend-list-time mt-auto">2021/06/20</li>
                                </ul>
                            </div>
                            <div class="col-3 recommend-list-body d-flex flex-direction-column justify-content-between mb-md-3 mb-sm-2">
                                <img src="/assets/images/home-section5-2.png" alt="customer2">
                                <ul class="recommend-list-content h-100 d-flex flex-direction-column">
                                    <li class="mb-1">凱倫</li>
                                    <li class="">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！ </li>
                                    <li class="recommend-list-time mt-auto">2021/04/18</li>
                                </ul>
                            </div>
                            <div class="col-3 recommend-list-body d-flex flex-direction-column justify-content-between mb-sm-2">
                                <img src="/assets/images/home-section5-3.png" alt="customer3">
                                <ul class="recommend-list-content h-100 d-flex flex-direction-column ">
                                    <li class="mb-1">悠悠</li>
                                    <li class="">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</li>
                                    <li class="recommend-list-time mt-auto">2020/12/25</li>
                                </ul>
                            </div>
                            <div class="col-3 recommend-list-body d-flex flex-direction-column justify-content-between">
                                <img src="/assets/images/home-section5-4.png" alt="customer4">
                                <ul class="recommend-list-content h-100 d-flex flex-direction-column">
                                    <li class="mb-1">Kyuan</li>
                                    <li class="">服務很好，品質沒有任何問題，非常喜歡。</li>
                                    <li class="recommend-list-time mt-auto">2020/10/31</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact">
                <div class="container container-sm-full">
                    <div class="row d-flex justify-content-center">
                        <div class="col-6 col-md-10">
                            <h2 class="contact-title mb-6 mb-md-3 mb-sm-3">聯絡我們</h2>
                            <p class="contact-intro mb-3">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
                            <form action="index.html">
                                <label for="name" class="mb-1">姓名</label>
                                <input type="text" name="name" placeholder="陳小明" id="name" class="mb-2">
                                <label for="tel" class="mb-1">聯絡電話</label>
                                <input type="tel" name="tel" placeholder="0912-345-678" id="tel" class="mb-2">
                                <label for="email" class="mb-1">電子郵件</label>
                                <input type="email" name="mailto" placeholder="example@email.com" id="email" class="mb-2">
                                <label for="Opinion" class="mb-1">意見反應</label>
                                <textarea name="Opinion" id="Opinion" placeholder="請輸入您的意見" class="mb-2"></textarea>
                                <div class="contact-check mb-6 mb-sm-3">
                                    <input type="checkbox" name="check" value="check" id="check">
                                    <label for="check">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <div class="col-4 col-md-6">
                            <div class="contact-submit">
                                <input type="submit" value="確認送出" class="contact-submit">
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>